.new-pass {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
}

.text-big {
  font-size: 28px;
  margin: 10px 0 0 0;
}

.output-new-pass {
  margin-bottom: 30px;
}

.text-name-bc {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1D313C;
  color: white;
  width: 100%;
  margin-bottom: 15px;
}

.text-big {
  text-align: center;
}

.text-gl {
  margin: 20px 0 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1D313C;
  color: white;
  margin-bottom: 15px;
}

.column1-field-bc, .column2-field-bc, .column3-field-bc  {
  min-width: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  border-bottom: 1px solid black;
}

.bc_1,  .bc_2, .bc_3 {
  border-top: 1px solid black;
}


.column1-field-bc {
  border-left: 1px solid black;
}

.column2-field-bc {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.column3-field-bc {
  border-right: 1px solid black;
}